{% extends '__base.html' %}
{% load static %}
{% load socialaccount %}

{% block title %}Login{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <h5 class="card-title">Login</h5>
            <form method="post" class="d-flex justify-content-center flex-column">{% csrf_token %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger">{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                    {{ field.label }}
                    {{ field }}
                {% endfor %}
                <button type="submit" class="btn btn-primary" style="margin-top: 3vh">Login</button>
            </form>
        <a href="{% url 'account_reset_password' %}">Forgot password?</a>
            <div class="text-center mt-3">
                <p>or</p>
                <a class="btn btn-light" href="{% provider_login_url 'google' %}">Login with Google</a>
            </div>
            <hr>
            <div class="d-flex justify-content-center align-items-center flex-column">
                <p>Don't have an account yet?</p>
                <a href="{% url 'account_signup' %}" class="text-muted">Register now.</a>
            </div>
        </div>
    </div>
{% endblock content %}