{% extends '__base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="d-flex border border-3 rounded rounded-3 justify-content-start flex-column w-75"
             style="margin-top: 5vh">
            <h1 class="link-success">Password was reset successful</h1>
            <h5><a href="{% url 'account_login' %}">Come back to login page</a></h5>

        </div>
    </div>
{% endblock content %}