{% extends '__base.html' %}
{% load static %}

{% block title %}Reset Password{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock styles %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="card">
            <h1>Reset Password</h1>
            <h1 class="link-success">Password reset sent</h1>
            <h5>We’ve emailed you instructions for setting your password if an account exists with the email you
                entered. You
                should
                receive them shortly.</h5>

            <h5>If you don’t receive an email, please make sure you’ve entered the address you registered with, and
                check your
                spam
                folder.</h5>
            <a class="btn btn-success w-75 align-self-center " style="margin-top: 3vh" href="{% url 'home' %}">Back to
                start page</a>

        </div>
    </div>
{% endblock content %}